flask
gunicorn
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@v0.7.1
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@v0.7.1
pandas
numpy
requests
pytz
pandas_market_calendars
ib_insync
google-auth
google-cloud-compute
google-cloud-secret-manager
google-cloud-storage
yfinance
