flask
gunicorn
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@v0.6.0
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@5c40d49927b7a86e27feee23b82da81338320404
pandas
numpy
requests
pytz
pandas_market_calendars
ib_insync
google-auth
google-cloud-compute
google-cloud-secret-manager
yfinance
