flask
gunicorn
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@6e8cc058b821aea8a54015d4b39e02fbdd3dc198
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@53f996edec6af4a5eca592513ba835903ec7bf8d
pandas
numpy
requests
pytz
pandas_market_calendars
ib_insync
google-auth
google-cloud-compute
google-cloud-secret-manager
yfinance
